html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
    font-family: Roboto, sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: auto;
    
}

h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 65px;
    text-align: center;
}
h3{
    fontsize: 20px;
    font-weight: bold;
    text-align: center;
}

h3 a{
    text-decoration: none;
}

img {
    width: 1100px;
    height:450px;
}
.img-container {
width: 1600px;
height: 450px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;

}

nav {
    margin: 30px;
    text-align: center;
}

li {
    display: inline;
    
}

nav ul li a {
font-size: 28px;
color:#000000;
text-decoration: none;
padding: 10px;
}

nav ul li .home {
color:#0a2d4a ;
font-weight: bold;
}

nav ul li:last-child {
    color:#0a2d4a ;
    font-weight: bold;
    }

article  img{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

article p {
    text-align: justify;
    max-width: 89%;
    
    
}

article p::first-letter {
font-family: EucrosiaUPC, sans-serif;
font-size: 40px;
margin-bottom: 0px;

}



span a {
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
}

span {
    padding: 10px;
    margin-top: 10px;
    background-color:saddlebrown
    
}

footer{
    margin:0px;
    padding:10px 0 10px 0;
    text-align: center;
}

main  {
    display: flex;
    font-weight: bold;
    font-size: 16px;
}
article p:last-of-type span:first-of-type a::before { 
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
    }

    /* latin */
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {font-family: "EucrosiaUPC"; src: url("//db.onlinewebfonts.com/t/ae32da51cb4715541b6a9f2a5e3939f0.eot"); src: url("//db.onlinewebfonts.com/t/ae32da51cb4715541b6a9f2a5e3939f0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ae32da51cb4715541b6a9f2a5e3939f0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ae32da51cb4715541b6a9f2a5e3939f0.woff") format("woff"), url("//db.onlinewebfonts.com/t/ae32da51cb4715541b6a9f2a5e3939f0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ae32da51cb4715541b6a9f2a5e3939f0.svg#EucrosiaUPC") format("svg"); }


  